.App {
  text-align: center;
  /* max-width: 860px; */
  margin: 0;
  padding-top: 100px;
  background: #1b1523;
  color: #fff;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
  margin-left: 15px;
}
button:hover {
  background: #c23866;
  color: #fff;
}

.state-changes {
  border: 1px solid #fff;
  margin-bottom: 6%;
  margin-top: 8%;
}
.state-changes p span {
  color: #c23866;
}

.disa{
  background: none;
  color: grey;
  border: 2px solid grey;
}
.disa:hover {
  background: none;
  color: grey;
}
